<!DOCTYPE html>
<html>
<head>
    <link href="~/css/index.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>    
<body>
    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/index.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>