@{

}
<!DOCTYPE html>
<html>
<head>
    <link href="~/css/site.css" rel="stylesheet" />
</head>    
<body>
    @RenderBody()
      <div class="menu">
      <ul>
        <li><a asp-controller="App" asp-action="Index">Home</a></li>
        @if (User.Identity.IsAuthenticated)
        {
            <li><a asp-controller="Account" asp-action="Logout">Logout</a></li>
        }
        else
        {
            <li><a asp-controller="Account" asp-action="Login">Login</a></li>
        }    
        <li><a asp-controller="App" asp-action="Part">Part</a></li>
        <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
        <li><a asp-contoller="App" asp-action="About">About Us</a></li>
      </ul>
  </div>  
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/menu.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>