<!DOCTYPE html>
<html>
<head>
    <link href="~/css/site.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>    
<body>
    <header>Welcome to OpenERP</header>
    <section>
        <h2>@ViewBag.Title</h2>
    </section>
    @RenderBody()
    <footer>2022 OpenERP project. MIT License</footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/index.js"></script>
</body>
</html>