@model SessionPropertiesViewModel
@{
    ViewBag.Title = "Choose Session Properties";
}
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/css/login.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>    
<body>
    <section class="showcase">
    <header>
        <h2 class="logo">@ViewBag.Title</h2>
        <div class="toggle"></div>
    </header>
        <div asp-validation-summary="ModelOnly"></div>
        <video src="~/media/Login-background.mp4" muted loop autoplay></video>
        <div class="overlay"></div>
    <form method="post">
        <div class="text">
            <label asp-for="CurrentCompanyID">Current Company: </label>
            <input asp-for="CurrentCompanyID" type="text" />
            <span asp-validation-for="CurrentCompanyID"></span>
        </div>
        <div class="text">
            <input class="submitButton" type="submit" value="Login" />
        </div>
    </form>
    <!--- insert content here --->
    </section>
</body>
</html>