<<<<<<< HEAD
@model IEnumerable<OpenERP.ErpDbContext.Models.Part>
=======
@model IEnumerable<OpenERP.ErpDbContext.DataModel.Part>
>>>>>>> 5fd5afd (	new file:   Controllers/AppController.cs)
    <h1>Part</h1>
    <p>Count: @Model.Count()</p>
    @foreach (var p in Model)
    {
        <li>@p.PartNum</li>
    }